@import '../../animation';

.subcribe {
    animation: apearance 1s;
    margin-top: 3rem;

    .title {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .caption {
        font-size: small;
        color: #c0c0c0;
    }

    .subcribe-form {
        border-radius: 0;

        .email-input {
            border-radius: 0;
        }

        .email-input:focus {
            box-shadow: none;
            border-radius: 0;
            border-color: #cfcfcf;
        }

        .subcribe-btn {
            color: #fff;
            border-radius: 0;
            background: var(--btn_background);
            padding: 1rem 2rem;
        }
    }
}