.auth-background {

    background-image: url('../../../public/images/banner1.jpg');
    background-repeat: repeat;
    height: 80vh;
    background-size: 120%;
    background-position-y: -5rem;
}

.container {
    width: 40%;
    margin: auto;
    padding: 4rem;
    border-radius: 8px;
    background: #fff;
}